@import '../../../styles/settings.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  margin: 100px 10vw 0px 10vw;
}

.wrapperStretchedForLittlePx {
  margin: 100px 10vw 0px 10vw;

  @media (max-width: 780px) {
    margin: 100px 2vw 0px 2vw;
  }
}

.wrapperStretchedForCategories {
  margin: 50px 10vw 0px 10vw;

  @media (max-width: 1395px) {
    margin: 100px 2vw 0px 2vw;
  }
}