@import '../../../styles/settings.scss';

.container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  color: $color_dark;
  margin-top: 80px;
}

.header {
  font-size: 2rem;
  margin: 20px 0 300px 0;
  text-align: center;
  color: $color_dark;
}