@import '../../../../styles/settings.scss';

.logo_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; // Zapobieganie zawijaniu treści
}

.logo_section img {
  flex: 1; // Daje każdemu obrazowi równą przestrzeń
  max-width: 18%; // Maksymalna szerokość dla logo
  min-width: 60px; // Minimalna szerokość dla logo
  object-fit: contain;
}

@media (max-width: 1024px) {
  .logo_section img {
    max-width: 15%; 
  }
}

@media (max-width: 768px) {
  .logo_section img {
    max-width: 12%; 
  }
}

@media (max-width: 480px) {
  .logo_section img {
    max-width: 10%; 
  }
}
