@import '../../../../styles/settings.scss';

.wrapper {
  button {
    padding: 20px 0px;
    border: none;
    background-color: #ff47d1af;
    width: 100%;
  
    &:hover {
      background-color: #ff47d1;
      cursor: pointer;
    }
  
    h3 {
      font: 700 23px/29px roboto,Arial;
    }

    @media only screen and (max-width: 900px) {
      max-width: 180px;
      padding: 15px 0px;

      h3 {
        font: 500 18px/25px roboto,Arial;
      }
    }
  }
}

.Toastify__progress-bar {
  background: green !important;
}
