.myAccount {
  padding: 20px;
}

.userDataWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 100px 0;
}

.userData {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 500px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}