@import '../../../styles/settings.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px auto 100px auto;
}

.registerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 10px;

  .link p {
    cursor: pointer;
    color: $color_dark;
    text-decoration: underline;
    text-decoration-color: $color_dark;

    &:active {
      color: $color_dark;
      text-decoration-color: $color_dark;
    }

    &:hover {
      text-decoration-color: $color_dark;
    }
  }
}