@import '../../../../styles/settings.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Równomiernie rozłożone elementy */
  flex-wrap: wrap;
  margin: 0 -10px;
}

.a {
  height: 400px;
  width: 300px;
  border-radius: 5px;
  box-shadow: $box_shadow_cards_main_page;
  margin: 10px;
  transition: transform 0.3s ease; /* Dodane dla płynniejszej animacji skalowania */
}

/* Zmniejszenie elementu oraz czcionki przy szerokości ekranu poniżej 1200px */
@media only screen and (max-width: 1200px) {
  .a {
    transform: scale(0.9); /* Zmniejszenie całego elementu o 10% */
    width: 270px; /* Zmniejszenie szerokości */
  }

  .a p {
    font-size: 0.9em; /* Zmniejszenie czcionki */
  }
}

@media only screen and (max-width: 1575px) {
  .a {
    transform: scale(0.9); /* Zmniejszenie całego elementu o 10% */
    width: 270px; /* Zmniejszenie szerokości */
  }

  .a p {
    font-size: 0.9em; /* Zmniejszenie czcionki */
  }
}

@media only screen and (max-width: 1425px) {
  .a {
    transform: scale(0.85); /* Zmniejszenie całego elementu o 15% */
    width: 255px; /* Dodatkowe zmniejszenie szerokości */
  }

  .a p {
    font-size: 0.85em; /* Zmniejszenie czcionki o 15% */
  }
}

/* Inne zapytania dotyczące mediów mogą być nadal potrzebne dla różnych rozdzielczości ekranu */
@media only screen and (max-width: 992px) {
  .a {
    transform: scale(0.75); /* Zmniejszenie elementu o 25% */
    width: 225px; /* Zmniejszenie szerokości */
    margin: 5px; /* Redukcja marginesu może pomóc w dopasowaniu */
  }

  // .a h1 {
  //   font-size: 1em; /* Zmniejszenie czcionki */
  // }

  .a p {
    font-size: 0.8em; /* Zmniejszenie czcionki */
  }
}

@media only screen and (max-width: 768px) {
  .a {
    width: 300px;
  }

  .a p {
    font-size: 1em;
  }
}

.b{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 10px;
  transform: translateY(-500px);
  transition-delay: 0s;
  transition-duration: 0.6s;

  background: rgba(0,0,0,0);
  backdrop-filter: blur(12px);
}

@-moz-document url-prefix() {
  .c {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
    transform: translateY(-500px);
    transition-delay: 0s;
    transition-duration: 0.6s;

    background: rgba(0,0,0,0);
    backdrop-filter: blur(12px);
    background-color: $color_white;
  }
}

.a:hover .c {
  height: 100%;
  transition-delay: 0s;
  transition-duration: 0.6s;
  transform: translateY(0);
}

.d {
  width: 300px;
  position: absolute;
}

.d h1 {
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: auto;
}

.e {
  display: flex;
  justify-content: center;
}

.c p {
  text-align: center;
}