@import '../../../styles/settings.scss';

.container {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;

  img {
    width: 100px;
    cursor: pointer;
    vertical-align: middle;
  }

  p {
    color: $color_white;
    font-size: 10px;
    margin: 0;
  }
}