@import '../../../styles/settings.scss';

.wrapperDescription {
  margin: 100px 10vw 150px 10vw;

  @media (max-width: 580px) {
    margin: 100px 3vw 0px 3vw;
  }
}

.wrapperCards {
  margin-bottom: 100px;
}