@import '../../../../styles/settings.scss';

.wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  // justify-content: space-between;
  flex-direction: column;
  display: block;
  // text-align: center;

  p {
    text-align: left;
  }

  @media (max-width: 791px) {
    div p {
      font-size: 0.8em;
    }
  }

  @media (max-width: 563px) {
    div p {
      font-size: 0.7em;
    }
  }
}

.personContainer {
  // margin: 10px;
  border-top: solid 1px $color_dark;

  .title {
    cursor: pointer;
    line-height: 3em;
    margin: 0 10px;
    text-align: left;
  }

  .details {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    font-size: 0.5em;

    &.open {
      max-height: 1000px;
    }

    p {
      margin: 0px;
      font-size: 1.8em;
    }
  }
}

.redUnderline {
  height: 0.5px;
  background-color: $color_green;
  margin: 5px 0;
}

.innerWrapper {
  margin: 0 20px 10px 20px;
}

//

.title {
  // ... twoje wcześniejsze style
  display: flex; // dla układania tytułu i strzałki obok siebie
  align-items: center; // dla wyrównania strzałki z tekstem pionowo
  justify-content: space-between; // dla rozłożenia tekstu i strzałki na krańcach

  svg { // dla strzałki
    transition: transform 0.3s ease-in-out;
  }
}

.rotate { // klasa dla obracania strzałki
  transform: rotate(180deg);
}
