@import '../../styles/settings.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  margin-bottom: 50px;

  .wrapper {
    background-color: $color_light_shadow;
    padding: 20px 40px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;

    @media (max-width: 730px) {
      padding: 20px 10px;
    }
  }

  p {
    font: $font_subcategories;
  }

  input, select, option {
    width: 260px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;

    color: $color_gray_darkest;

    &:focus {
      outline: none;
      // border-color: $color_green; /* Można dostosować do koloru tematu */
      box-shadow: inset 0px 0px 2px $color_gray_darker; /* Subtelny efekt glow */
    }
  }
}

.paginationWrapper{
  display: flex;
  flex-direction: row;
  margin: 25px 0 100px 0;

  .buttonPagination {
    background-color: $color_background_gray;
    border: 1px solid #dddddd;
    // color: #333333;
    margin: 5px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    min-width: 32px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box_shadow_input_delivery;

    &:hover {
      background-color: $color_lighter_gray;
    }
  }
}

.infoMyAccount {

  margin: 10px 0 20px 0;
  
  p, h3 {
    text-align: center;
  }
}

.icon {
  color: $color_dark;
  font-size: 12px;
  transform: translateY(1px);
}

//

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
  margin: 40px 0 30px 0;
  
}

.loadingScreen {
  // position: fixed;
  // top: 50%;
  // left: 0;
  // width: 100%;
  // height: 50vh;
  // background-color: rgba(255, 255, 255, 0.7); // Półprzezroczyste tło
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Upewnij się, że pokrywa inne elementy
}

.loader {
  border: 5px solid #f3f3f3; // Jasny kolor krawędzi
  border-top: 5px solid $color_green; // Kolor górnej krawędzi
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}