@import '../../../styles/settings.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_dark;
  color: $color_white;
  padding: 10px 20px;
  position: relative;
  max-height: 100px;
}

.headerOpen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_dark;
  color: $color_dark;
  padding: 10px 20px;
  position: relative;
}

.logo {
  margin-left: 100px;
}

.links {
  display: flex;
  margin-right: 100px;
  text-align: center;
}

.links span {
  padding: 1px 0px;
  // margin: 0px 0.5em;
  margin: 0px 0.5em;
}

.links > :last-child {
  margin-left: 0.5em;
}

.links span:hover {
  cursor: pointer;
  // text-decoration: underline;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

//

.reset_link {
  text-decoration: none;   /* Usuwa podkreślenie */
  color: inherit;          /* Dziedziczy kolor tekstu z elementu nadrzędnego */
  cursor: pointer;
  padding: 10px 5px;
  text-align: center;
}

.reset_link:hover {
  text-decoration: none;   /* Usuwa podkreślenie */
  color: inherit;   /* Dodaje podkreślenie przy najechaniu - dla lepszej interaktywności */
}

.reset_link:visited {
  text-decoration: none;   /* Usuwa podkreślenie */
  color: inherit;  /* Zapobiega zmianie koloru dla odwiedzonych linków */
}

.reset_link:focus {
  text-decoration: none;   /* Usuwa podkreślenie */
  color: inherit;     /* Usuwa domyślną obwódkę, ale pamiętaj o dostępności! */
}

//

.reset_link_store {
  text-decoration: none;   /* Usuwa podkreślenie */
  color: inherit;          /* Dziedziczy kolor tekstu z elementu nadrzędnego */
  cursor: pointer;
  padding: 10px 5px;
  text-align: center;
  background-color: $color_gray;
}

.reset_link_store:hover {
  text-decoration: none;   /* Usuwa podkreślenie */
  color: inherit;   /* Dodaje podkreślenie przy najechaniu - dla lepszej interaktywności */
}

.reset_link_store:visited {
  text-decoration: none;   /* Usuwa podkreślenie */
  color: inherit;  /* Zapobiega zmianie koloru dla odwiedzonych linków */
}

.reset_link_store:focus {
  text-decoration: none;   /* Usuwa podkreślenie */
  color: inherit;     /* Usuwa domyślną obwódkę, ale pamiętaj o dostępności! */
}

// .x {
  // text-decoration: none;
  // color: inherit; 

// }

//

.box {
  position: relative; /* Dodane */
  width: auto;
  display: inline-block; /* Dzięki temu div będzie miał tylko tyle miejsca, ile potrzebuje */
}

.underlineWhite {
  position: absolute;
  display: block;
  background: $color_white;
  transition: all 0.3s linear;

  // bottom: 0;
  // right: 0;
  transition-delay: 0.1s;

  width: calc(100% - 1em);
  max-height: 2px;
  border-radius: 5px;
  transform: scaleX(0);

  transform-origin: right;
  transition: transform 0.3s cubic-bezier(.57,.01,.29,.99);
}

.reset_link:hover {
  .underlineWhite {
    transform: scaleX(1);
    transition-delay: 0.1s;
    transform-origin: top left;
  }
}

.reset_link_store:hover {
  .underlineWhite {
    transform: scaleX(1);
    transition-delay: 0.1s;
    transform-origin: top left;
  }

  background-color: $color_gray_hover_store_header;
}

/* Style dla widoków mobilnych */
@media (max-width: 908px) {
  .links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $color_dark;
    flex-direction: column;
    align-items: start;
    display: none;
    padding: 10px;
  }

  .open {
    display: flex;
    background-color: $color_white;
    color: $color_dark;
    box-shadow: 0px 5px 10px $color_gray;
    // border-radius: 5px;
    width: 100%;
    z-index: 10;
    padding-bottom: 20px;
  }

  .links span {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }

  .logo {
    margin-left: 0px;
  }

  //

  .reset_link_store {
    padding: 10px 0px;
    background-color: $color_white;
  }

  .underlineWhite {
    position: absolute;
    display: block;
    background: $color_dark;
    transition: all 0.3s linear;
  
    // bottom: 0;
    // right: 0;
    transition-delay: 0.1s;
  
    width: 100%;
    max-height: 2px;
    border-radius: 5px;
    transform: scaleX(0);
  
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(.57,.01,.29,.99);
  }
  
  .reset_link:hover {
    .underlineWhite {
      transform: scaleX(1);
      transition-delay: 0.1s;
      transform-origin: top left;
    }
  }
  
  .reset_link_store:hover {
    .underlineWhite {
      transform: scaleX(1);
      transition-delay: 0.1s;
      transform-origin: top left;
    }
  
    background-color: $color_white;
  }
}