@import '../../../../../styles/settings.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $color_background_gray;
  padding: 80px 0 120px 0;

  @media (max-width: 1300px) {
    .cartSummaryInnerWrapper {
      display: none;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $color_dark;
    color: $color_white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: $box_shadow;

    &:hover {
      background-color: $color_black;
      box-shadow: $box_shadow_hover;
    }
  }

  h2 {
    margin: 10px 0;
  }
}

.cartSummaryWrapper {
  display: none;

  @media (max-width: 1300px) {
    display: flex;
    justify-content: center;
    background-color: $color_background_gray;
    padding-bottom: 120px;
    
  }
}

.errorWrapper {
  min-height: 20px;
}

.wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-bottom: 0px;

  input {
    padding: 10px;
    border: none;
    font-size: 16px;
    box-shadow: $box_shadow_input_delivery;
    width: 280px;
    text-align: left;
    margin-bottom: 20px;

    &:focus {
      outline: none;
      border: none;
      box-shadow: $box_shadow_input_delivery_focused;
    }
  }

  textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: $box_shadow_input_delivery;
    width: 280px;
    height: 120px;
    text-align: left;
    margin-bottom: 20px;

    &:focus {
      outline: none;
      border: none;
      box-shadow: $box_shadow_input_delivery_focused;
      resize: vertical;
    }
  }
}

.logInWrapper {
  display: flex;
  flex-direction: row;


  .logIn {
    text-decoration: underline;
    cursor: pointer;
  }
}

.orderDetails {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.cartSummary {
  display: flex;
  flex-wrap: wrap;
}

.cartItem {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.cartItem img {
  width: 140px;
  height: 100px;
  margin-right: 10px;
  object-fit: cover;
}

.cartItemDetails p {
  margin: 0;
}

.totalPrice {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
