@import '../../../styles/settings.scss';

.cart {
  margin: 5% 25%;
  min-height: 300px;

  @media (max-width: 1399px) {
    margin: 5% 20%;
  }

  @media (max-width: 1120px) {
    margin: 5% 15%;
  }

  @media (max-width: 950px) {
    margin: 5% 10%;
  }

  @media (max-width: 820px) {
    margin: 5% 5%;
  }

  @media (max-width: 730px) {
    margin: 5% 0%;
  }

  h2 {
    @media (max-width: 650px) {
      margin-left: 15px;
    }
  }

}

.cartItem {
  // border: 1px solid #ddd;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  padding: 15px;
  background: rgb(244, 244, 244);

  display: flex;
  flex-direction: column;

  // &:hover {
  //   box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  //   cursor: pointer;
  // }

  // Reszta stylowania .card pozostaje bez zmian
}

.titleWrapper {
  h3 {
    cursor: pointer;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;

  @media (max-width: 650px) {
    flex-direction: column;
  }

  .infoWrapperImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    @media (max-width: 650px) {
      flex-direction: column;
    }

    p {
      text-align: left;

      @media (max-width: 650px) {
        margin: 5px 0;
      }
    }

    img {
      width: 150px;
      // margin: 10px 10px 10px 0;
      margin-right: 10px;
      border: 1px solid $color-text-light;

      @media (max-width: 650px) {
        margin: 5px 0;
      }
    }
  }

  .innerInfoWrapper {
    display: flex;
    flex-direction: column; /* Ustawienie kierunku na pionowy */
    justify-content: flex-end;
    align-items: flex-end;

    @media (max-width: 650px) {
      // justify-content: flex-start;
      align-items: flex-start;
    }
  }

  button {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #333333;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    min-width: 32px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color_lighter_gray;
    }

    &:focus {
      outline: none;
    }
  }

  .removeItem {
    background-color: $color_red_dark;
    color: $color_white;
  }

  .cartQuantity {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
    gap: 10px; // Odstęp między elementami

    p {
      margin: 0;
    }
  }

  .quantityInput {
    font-size: 0.9em;
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 60px; // Dostosuj szerokość według potrzeb
    text-align: center;

    /* Usunięcie strzałek w inputach typu number */
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.totalPrice {
  @media (max-width: 650px) {
    margin: 0 15px;
  }

  button {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 20px 0;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    min-width: 32px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;

    &:hover {
      background-color: $color_lighter_gray;
    }

    &:focus {
      outline: none;
    }
  }
}