@import '../../../../../styles/settings.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 50px auto 100px auto; 

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $color_dark;
    color: $color_white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: $box_shadow;

    &:hover {
      background-color: $color_black;
      box-shadow: $box_shadow_hover;
    }
  }
}

.errorWrapper {
  margin-top: 20px;
  min-height: 20px;
  width: 280px;
  // position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.error {
  text-align: center;
  color: red;
}

.registerConfirmation {
  text-align: center;
  color: green;
}

.wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-bottom: 10px;

  input {
    padding: 10px;
    // border: 0px solid $color_dark;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: $box_shadow_input;
    width: 280px;
    // border: solid 1px $color_dark;
    background-color: $color_logins_inputs;
    text-align: left;
    margin-bottom: 20px;

    &:focus {
      outline: none; // Usuwa standardowy obrys
      border: none;
      box-shadow: $box_shadow_input_focused;
      background-color: $color_logins_inputs_focused;
    }
  }

  label {
    margin-bottom: 5px;
  }
}

.passRequirements {
  text-align: left;
}