@import '../../../../styles/settings.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 50px;

  @media screen and (max-width: 1200px) {
    margin: 0 100px;
  }

  @media screen and (max-width: 1800px) {
    margin: 0 100px;
  }

  @media screen and (max-width: 1600px) {
    margin: 0 100px;
  }

  @media screen and (max-width: 1400px) {
    margin: 0 50px;
  }

  @media screen and (max-width: 1200px) {
    margin: 0 100px;
  }

  @media screen and (max-width: 1100px) {
    margin: 0 50px;
  }

  @media screen and (max-width: 990px) {
    margin: 0 10px;
  }

  @media screen and (max-width: 900px) {
    // margin: 0 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
}

.categoriesMenuMobileWrapper {
  display: none;

  @media screen and (max-width: 900px) {
    display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

.categoriesMenuWrapper {

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.storeProducts {

  .categoryTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    
    &:hover {
      background-color: #f2f2f2a2;
    }

    p {
      max-width: 250px;
      text-align: start;
      line-height: 1.1;
      flex-grow: 1;

      font: $font_categories;
    }
  }

  .subcategories {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .subcategoryItem {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      background-color: #f2f2f2a2;
    }

    p {
      max-width: 230px;
      text-align: start;
      line-height: 1.1;
      flex-grow: 1;
      margin-left: 20px;
      // font-size: 0.9em;

      font: $font_subcategories;
    }
  }
}

.link {
  color: inherit; 
  text-decoration: none; 

  &:hover,
  &:active,
  &:visited {
    color: inherit; 
    text-decoration: none;
  }
}

.activeCategory {
  font-weight: bold;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
