@import '../../../styles/settings.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20px;
  background: linear-gradient(to top, #ff47d100, #ff47d19f);
  padding: 20px 100px 20px 100px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  img {
    height: 80px;
    cursor: pointer;
  }

  &_center {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;

    .inputContainer {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 400px;
      min-width: 280px;
      border: 1px solid $color_white;
      border-radius: 20px; 
      box-shadow: $box_shadow_input; 
    
      .input {
        flex: 1;
        border: none;
        padding: 10px;
        border-radius: 20px;
        outline: none;
      }
    
      .searchButton {
        background-color: $color_white;
        border: none;
        border-radius: 20px; 
        cursor: pointer;
        padding: 10px;
      }
    }
  }

  .inputContainer:focus-within {
    box-shadow: $box_shadow_input_focused; 
  }

  &_right {
    display: flex;
    gap: 1rem;

    .icon {
      font-size: 1.5rem; 
      color: $color_dark; 
      cursor: pointer;

      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
        margin-top: 30px;
      }
    }
  }
}

.resultsContainer {
  overflow: hidden;
  position: absolute;
  transition: max-height 0.5s ease-out;
  height: auto;
}

.showResults {
  background-color: $color_white;
  box-shadow: $box-shadow-light;
  padding: 10px 10px;
  top: 162px;
  width: 400px;
  z-index: 999;
  border-radius: 20px;
  height: auto;

  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 0;

    &:hover {
      background-color: $color_background_gray;
      cursor: pointer;
    }

    img {
      width: 10%;
    }

    .name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 70%;

      p {
        margin: 0 5px;
      }
    }

    .price {
      width: 20%;

      p{
        text-align: right;
      }
      
    }
  }

  p {
    font: $font_subcategories;
    margin-bottom: 10px;
    text-align: left;
  }

  @media screen and (max-width: 768px) {
    width: 280px;
    top: 162px;

    p {
      font: $font_small;
    }
  }
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  margin: 0 5px 0 0;
  
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid $color_green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}