@import '../../../styles/settings.scss';

.mainWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 100px;

  @media only screen and (max-width: 1700px) {
    margin: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  margin: 100px 150px;

  @media only screen and (max-width: 1500px) {
    margin: 100px 50px;
  }

  @media only screen and (max-width: 1300px) {
    margin: 100px 150px;
  }

  @media only screen and (max-width: 1200px) {
    margin: 100px 100px;
  }

  @media only screen and (max-width: 1000px) {
    margin: 100px 50px;
  }

  @media only screen and (max-width: 800px) {
    margin: 100px 20px;
  }
}

.titleWrapper {
  margin-bottom: 50px;
}

.mainInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;

  .imagesWrapper {
    display: flex;
    flex-direction: column;

    .mainImage {
      width: 430px;
      height: 100%;
      max-height: 500px;
      object-fit: cover;

      cursor: pointer;

      border: solid 1px #ccc;

      @media only screen and (max-width: 500px) {
        width: 320px;
      }

      @media only screen and (max-width: 400px) {
        width: 220px;
      }
    }

    .smallImages {
      display: grid;
      grid-template-columns: repeat(4, 100px);
      grid-gap: 10px;

      margin-top: 20px;

      @media only screen and (max-width: 500px) {
        grid-template-columns: repeat(3, 100px);
      }

      @media only screen and (max-width: 400px) {
        grid-template-columns: repeat(3, 70px);
      }

      img {
        width: 100px;
        height: 100%;
        object-fit: contain;

        cursor: pointer;

        @media only screen and (max-width: 400px) {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

.shortDesc {
  margin: 0 50px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1300px) {
    display: none;
  }

  p {
    text-align: left;
  }

  .scroll {
    display: flex;
    align-items: center;
    cursor: pointer;

    h3 {
      font: $font_button_specyfication;
    }
    
    span {
      font-size: 22px;
      transform: translateY(-2px);
    }
  }

  button {
    padding: 20px 0px;
    border: none;
    background-color: $color_lighter_gray;
    width: 80%;

    margin: 20px 0;

    h3 {
      font: $font_button_specyfication;
    }

    &:hover {
      background-color: $color_gray;
      cursor: pointer;
    }
  }

  .brandImage {
    width: 100px;
    height: auto;

    max-width: 150px;
  }
}

.shortDescSmallPx {
  display: none;

  @media only screen and (max-width: 1300px) {
    margin-top: 40px;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 900px) {
      padding: 0 50px;
    }

    @media only screen and (max-width: 500px) {
      padding: 0;
    }

    p {
      text-align: left;
    }

    .scroll {
      display: flex;
      align-items: center;
      cursor: pointer;

      h3 {
        font: $font_button_specyfication;
      }
      
      span {
        font-size: 22px;
        transform: translateY(-2px);
      }
    }

    button {
      padding: 20px 0px;
      border: none;
      background-color: $color_lighter_gray;
      width: 80%;

      margin: 20px 0;

      h3 {
        font: $font_button_specyfication;
      }

      &:hover {
        background-color: $color_gray;
        cursor: pointer;
      }
    }

    .brandImage {
      width: 100px;
      height: auto;
    }
  }
}

.priceWrapper {
  padding: 50px;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: $box_shadow;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 400px;

  &:hover {
    box-shadow: $box_shadow_hover;
  }

  .underline {
    height: 1px;
    margin-top: 30px;
    background-color: $color_gray;
  }

  @media only screen and (max-width: 1300px) {
    border: none;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }

    .underline {
      display: none;
    }
  }

  @media only screen and (max-width: 900px) {
    display: none;
  }

  .price {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-end;

    h1, h3 {
      color: $color_green;
      padding: 0;
    }

    h1 {
      margin: 0;
      font: $font_price;
    }

    h3 {
      margin: 0 0 5px 10px;
      font: $font_price_desc;
    }
  }

  .quantity {
    font-size: 0.9em;
    margin: 20px 0;
  }

  .cartQuantity {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
    gap: 10px; 

    button {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $color_lighter_gray;
      }
  
      &:focus {
        outline: none;
      }
    }
  
    p {
      margin: 0;
    }
  }

  .quantityInput {
    font-size: 0.9em;
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 60px; 
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: textfield;
  
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .icon {
    width: 16px !important;
    height: 16px !important;
    margin-right: 5px;
  }
  
  .buttonNoProducts {
    padding: 20px 0px;
    border: none;
    background-color: $color_lightest_gray;
    width: 100%;
    color: $color_gray;
  
    h3 {
      font: 700 23px/29px roboto,Arial;
    }
  }
}

.priceWrapperSmallPx {
  display: none;

  @media only screen and (max-width: 900px) {
    padding: 50px 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media only screen and (max-width: 500px) {
      padding: 0;
    }

    .price {
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: flex-end;

      h1, h3 {
        color: $color_green;
        padding: 0;
      }

      h1 {
        margin: 0;
        font: $font_price;

        @media only screen and (max-width: 500px) {
          font: $font_price_small_px;
        }
      }

      h3 {
        margin: 0 0 5px 10px;
        font: $font_price_desc;
      }
    }

    .quantity {
      font-size: 0.9em;
      margin: 20px 0;
    }

    .cartQuantity {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      align-items: center;
      gap: 10px; 

      button {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $color_lighter_gray;
        }
    
        &:focus {
          outline: none;
        }
      }
    
      p {
        margin: 0;
      }
    }

    .quantityInput {
      font-size: 0.9em;
      padding: 5px 10px;
      border: 1px solid #dddddd;
      border-radius: 4px;
      width: 60px; 
      text-align: center;
      -moz-appearance: textfield;
      -webkit-appearance: none;
      appearance: textfield;
    
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .icon {
      width: 16px !important;
      height: 16px !important;
      margin-right: 5px;
    }
    
    .buttonNoProducts {
      padding: 20px 0px;
      border: none;
      background-color: $color_lightest_gray;
      width: 100%;
      color: $color_gray;
    
      h3 {
        font: 700 23px/29px roboto,Arial;
      }
    }
  }
}

.restInfo {
  margin: 100px 0;

  @media only screen and (max-width: 1300px) {
    margin: 50px 0 100px 0;
  }
}

.phone {
  cursor: pointer;
  color: $color_dark;
  text-decoration: underline;
  text-decoration-color: $color_dark;

  &:active {
    color: $color_dark;
    text-decoration-color: $color_dark;
  }

  &:hover {
    text-decoration-color: $color_dark;
  }
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9); 

  display: flex;        
  justify-content: center; 
  align-items: center;     
}

.modalContent {
  max-width: 80%; 
  max-height: 80%; 
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.selectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.selectionWrapper h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 1.2em;
  font-weight: 600;
}

.selectionWrapper button {
  background-color: white;
  border: 2px solid #ddd;
  color: #333;
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.3s ease;
  border-color: #ddd;

  &:hover {
    background-color: #e9e9e9;
    border-color: #ddd;
  }

  &.selected {
    background-color: white;
    border-color: #000;
  }
}