@import '../../../../styles/settings.scss';

.cards_wrapper {
  display: flex;
  // grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
  // gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: $color_white;
  border-radius: 8px;
  // background-color: red;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;

  height: 300px;
  width: 200px;

  cursor: pointer;

  &:hover {
    box-shadow: 2px 4px 8px $color_gray;
  }

  @media (max-width: 504px) {
    // align-items: flex-start;
    height: 150px;
    width: 100px;
  }
}

.card img {
  width: 120px;
  height: 100px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 8px;

  @media (max-width: 504px) {
    width: 60px;
    height: 60px;
  }
}

.card h4 {
  margin: 8px 0;
  text-align: center;
}

.card p {
  margin: 8px 0;
  text-align: center;
  font-size: 14px;
}

.card button {
  margin-top: auto;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: $color_green;
  color: $color_white;
  cursor: pointer;
}

.card button:hover {
  background-color: $color_green;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0px 5px;
  text-align: left;

  &:hover, &:focus, &:visited {
    text-decoration: none;
    color: inherit;
  }
}