@import '../../../../styles/settings.scss';

.wrapper{
  height: 300px;
  display: flex;
  width: 100%;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 100px;

  // background-size: cover;
  // background: bottom fixed;
  // background-repeat: no-repeat;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.buttonContactLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.buttonContact {
  background: $color_white;
  color: $color_dark;
  height: 75px;
  width: auto;
  min-width: 300px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 550;
  box-shadow: 5px 10px 10px $color_button_shadow;
  &:hover {
    background-color:rgba(0, 0, 0, 0);
    border: none;
    color: $color_white;
    border: 2px solid $color_white;
  }
}

@media only screen and (max-width: 500px) {
  .buttonContact {
    width: 50%;
    min-width: 280px;
    &:hover {
      color: $color_light_shadow;
    }
  }
}

.buttonContact:hover div {
  text-shadow: 2px 2px 5px $color_dark;
}