@import '../../../styles/settings.scss';

.container {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  margin-left: 300px;
  flex-direction: column;

  @media (max-width: 930px) {
    margin-left: 150px;
  }

  @media (max-width: 730px) {
    margin-left: 10px;
  }

  label {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

  input, select, option, textarea {
    width: 260px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;

    color: $color_gray_darkest;

    &:focus {
      outline: none;
      // border-color: $color_green; /* Można dostosować do koloru tematu */
      box-shadow: inset 0px 0px 2px $color_gray_darker; /* Subtelny efekt glow */
    }
  }

  textarea {
    height: 100px;
  }

  .checkbox {
    input {
      border: none;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.buttonAddProduct {
  background-color: $color_background_gray;
  border: 1px solid #dddddd;
  max-width: 200px;
  margin: 50px 0;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  min-width: 32px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $box_shadow_input_delivery;

  &:hover {
    background-color: $color_lighter_gray;
  }
}