@import '../../../../styles/settings.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.wrapper_left {
  width: 60%;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.wrapper_right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    width: 100%;
    margin-top: 50px;
  }
}

.wrapper_left p {
  margin-bottom: 20px;
  text-align: justify;

  @media (max-width: 768px) {
    margin-bottom: 10px;
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .wrapper_right img {
    // width: '340px';
    // height: '156px';
    margin-top: 50px;
  }
}

// mial form

.mailFormWrapper {
  margin-top: 150px;
  max-width: 250px;
}

.inputContainer {
  position: relative;
  margin-bottom: 20px;

  input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $color_white;
    border-radius: 5px;
    box-shadow: 0 0 5px $color_gray;
    // box-shadow: $box_shadow_input;
  
    @media (max-width: 1024px) {
      width: 100%;
    }
  
    &:focus {
      outline: none;
      // border-color: $color_green;
      box-shadow: 0 0 5px $color_green;
      // box-shadow: $box_shadow_hover_green;
    }
  }
}

.inputContainer input:focus ~ label,
.inputContainer input:valid ~ label {
  top: 10px;
  font-size: 12px;
  color: $color_green;
}

//

.inputContainer textarea {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid $color_white;
  border-radius: 5px;
  box-shadow: 0 0 5px $color_gray;
  resize: vertical;
  min-height: 150px;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.inputContainer textarea:focus {
  outline: none;
  // border-color: $color_green;
  box-shadow: 0 0 5px $color_green;
}

.inputContainer textarea:focus ~ label,
.inputContainer textarea:valid ~ label {
  top: 10px;
  font-size: 12px;
  color: $color_green;
}

// button

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: $color_green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 140px;
}

.button:hover {
  background-color: $color_darker_green;
  box-shadow: 0 0 3px $color_darker_green;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 3px $color_darker_green;
}

.button:active {
  transform: translateY(0.5px);
}



